services:
  backend:
    build: ./backend
    ports:
      - "3000:8000"
    volumes:
      - backend-data:/app/data
      - backend-db:/app
    restart: unless-stopped

volumes:
  backend-data:
  backend-db:
